<table class="table">
		<tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>

		<tr>
			<th>Follows</th>
			<th>
				<%= link_to follows_user_path(user) do %> 
					<%= user.relationship_users.count %>
				<% end %>
			</th>
		</tr>

		<tr>
			<th>Followers</th>
			<th><%= user.relationship_follow_users.count %></th>
		</tr>
</table>

<% if user.id != current_user.id %>
	<div class="follow-buttun-block row">
		<div class="col-xs-12">
			<!-- 自分にのフォロワーにユーザが含まれているか -->
			<% if current_user.relationship_users.any?{ |relationship_user| relationship_user.follow_user_id == user.id } %>
				<%= link_to 'フォロー外す', user_relationship_path(user), method: :delete, class: "btn btn-danger" %>
			<% else %>
				<%= link_to 'フォローする', user_relationship_path(user), method: :post, class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
<% end %>

<div class="row">
	<%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
</div>