<div class="container">
	<div class="row">
		<div class="col-xs-3">

			<h2>User info</h2>
			<%= render 'users/profile', {user: @book.user} %>

			<h2>New book</h2>
			<%= render 'books/newform', {book: Book.new} %>

		</div>

		<div class="col-xs-9">
			<h2>Book detail</h2>

			<table class="table">
					<tr id="post_book_tr_<%= @book.id %>">
						<%= render partial: "post_book", locals: {book: @book} %>
					</tr>
				</table>

				<!-- コメント投稿フォーム -->
				<div class="book-comment-post-form">
					<%= form_with model: [@book, @book_comment] do |f| %>
						<% if @book_comment.errors.any? %>
							<div id="error_explanation">
								<ul>
								<% @book_comment.errors.full_messages.each do |message| %>
									<li><%= message %></li>
								<% end %>
								</ul>
							</div>
						<% end %>
						<div class="form-group">
							<%= f.text_area :comment, class: "form-control book-comment-post-input", placeholder: "コメントを入力してください" %>
							<%= f.submit "投稿", class: "btn btn-default" %>
						</div>

					<% end %>
				</div>
				<!-- コメント投稿フォーム/ -->
				<!-- 投稿コメント表示 -->
				<div id="book-comments-show-block">
					<% @book_comments.each do |book_comment| %>
						<%= render partial: 'book_comments/book_comment', locals: {book_comment: book_comment} %>
					<% end %>
				</div>
				<!-- 投稿コメント表示/ -->
		</div>
	</div>
</div>
